.lang-toggle{
  direction: ltr!important;

  span.en{
    margin-right: 15px;
  }

  span.ar{
    margin-left: 15px;
  }
}

.navbar-vertical.navbar-expand-md {
  .navbar-brand-img {
    max-height: 115px!important;
  }
}

.navbar-horizontal .navbar-brand {
  max-width: 115px;
  img {
    width:100% ;
    height: 95px!important;
  }
}
