html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
}

.lang-toggle {
  direction: ltr !important;

  span.en {
    margin-right: 15px;
  }

  span.ar {
    margin-left: 15px;
  }
}

.navbar-vertical.navbar-expand-md {
  .navbar-brand-img {
    max-height: 115px !important;
  }
}

.navbar-horizontal .navbar-brand {
  max-width: 115px;

  img {
    width: 100%;
    height: 95px !important;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #212529 !important;
}

.custom-toggle-slider {
  border: 1px solid #212529 !important;

  &:before {
    background-color: #212529 !important;
  }
}

.bg-yellow {
  background-color: #f8d952;
}


.navbar-light .navbar-nav .nav-link {
  color: #212529 !important;
  font-size: 20px !important;

  &:hover, &.active {
    color: #000000 !important;
  }
}

.alertify-notifier {
  color: #FFFFFF !important;
  border-radius: 7px !important;
}

//loader

@keyframes ldio-vztwcgdma8o-o {
  0% {
    opacity: 1;
    transform: translate(0 0)
  }
  49.99% {
    opacity: 1;
    transform: translate(60px, 0)
  }
  50% {
    opacity: 0;
    transform: translate(60px, 0)
  }
  100% {
    opacity: 0;
    transform: translate(0, 0)
  }
}

@keyframes ldio-vztwcgdma8o {
  0% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(60px, 0)
  }
  100% {
    transform: translate(0, 0)
  }
}

.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;

  .ldio-vztwcgdma8o div {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 45px;
    left: 15px;
  }

  .ldio-vztwcgdma8o div:nth-child(1) {
    background: #ffd600;
    animation: ldio-vztwcgdma8o 1s linear infinite;
    animation-delay: -0.5s;
  }

  .ldio-vztwcgdma8o div:nth-child(2) {
    background: #212529;
    animation: ldio-vztwcgdma8o 1s linear infinite;
    animation-delay: 0s;
  }

  .ldio-vztwcgdma8o div:nth-child(3) {
    background: #ffd600;
    animation: ldio-vztwcgdma8o-o 1s linear infinite;
    animation-delay: -0.5s;
  }

  .loadingio-spinner-dual-ball-t65m6e2qkli {
    width: 130px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }

  .ldio-vztwcgdma8o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }

  .ldio-vztwcgdma8o div {
    box-sizing: content-box;
  }
}

.loader--hide {
  opacity: 0;
  z-index: -1;
}

.navbar-vertical {
  .container-fluid {
    position: relative;
  }

  .lang-toggle {
    //position: absolute;
    //max-width: 250px;
    bottom: 0;
    background: #ffd600;

    .custom-toggle {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-image: -webkit-gradient(linear,
              left bottom,
              left top,
              color-stop(0.44, rgb(67, 77, 86)),
              color-stop(0.72, rgb(45, 51, 57)),
              color-stop(0.86, rgb(33, 37, 41)));
    }
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    .lang-toggle {
      border-radius: 7px;
    }
  }
}


.card-body {
  overflow-y: auto !important;
}


