/* Alegreya */
@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* Alegreya Sans */
@font-face {
    font-family: "Alegreya Sans";
    src: url("../fonts/AlegreyaSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../fonts/AlegreyaSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../fonts/AlegreyaSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* GE Dinar One */
@font-face {
    font-family: "GE Dinar One";
    src: url("../fonts/GE Dinar One Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE Dinar One";
    src: url("../fonts/GE Dinar One Medium.otf");
    font-weight: bold;
    font-style: normal;
}

/* GE Dinar Two */
@font-face {
    font-family: "GE Dinar Two";
    src: url("../fonts/GE Dinar Two Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE Dinar Two";
    src: url("../fonts/GE Dinar Two Medium.otf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Eurostile";
    src: url("../fonts/EurostileNormal.ttf");
    font-style: normal;
    font-weight: normal;
}